extends layout

block content
  h1= "User center"
  p Welcome to #{title}

  if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
      br
      a(href="/user/fblogin/") Facebook Login
  if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout

